{% extends 'base.html.twig' %}

{% block title %}Bienvenue ici
{% endblock %}


{% block body %}

{# 
	<div class="image-container">
		<img src="{{asset('img/natterwurz-8835431_1280.jpg')}}" alt="Pots de fleurs">
		<div class="centered-text">
			Bienvenue ici
			<a href="/boutique">Accéder à la boutique</a>
			<a href="#" class="btn">Accéder aux services</a>
		</div>
	</div> #}


	<section>
		<h2>Bienvenue</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium necessitatibus quisquam ea sit! Reprehenderit nostrum voluptatem porro! Odio esse suscipit a ea similique libero magni, vitae, explicabo excepturi itaque quod?</p>
	</section>

	<section>
		<h2>Notre histoire</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sunt, suscipit veniam veritatis labore sequi nostrum eum quasi cum facere quam explicabo incidunt aperiam molestiae consequatur, repudiandae non inventore earum!</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora unde nemo laudantium corrupti nihil debitis excepturi suscipit rerum, enim dolore eos dignissimos obcaecati aliquam quasi voluptatum at ut et sint.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum eligendi temporibus aperiam eos voluptatem eius exercitationem nisi est totam amet doloremque tenetur repellendus officiis quod, consectetur nihil? Ullam, obcaecati. Commodi.</p>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem quo optio asperiores beatae id illo nam, voluptatibus delectus ratione odit? Nemo perferendis quisquam accusantium architecto obcaecati. Libero animi pariatur ipsam.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad a architecto odit in debitis, dolore, impedit minus neque vel repudiandae tempore illum ducimus nihil nemo assumenda, quae eos cumque repellendus?</p>
	</section>

	{# <section>
		<div class="carousel">
			<img src="{{ asset('img/danish-2178767_640.jpg') }}" alt="Image 1" class="active">
			<img src="{{ asset('img/john-deere-3431937_640.jpg') }}" alt="Image 2">
			<img src="{{ asset('img/landscaper-401880_640.jpg') }}" alt="Image 3">
			<img src="{{ asset('img/nature-2391968_640.jpg') }}" alt="Image 4">
			<div class="carousel-controls">
				<button id="prev" class="carousel-control">❮</button>
				<button id="next" class="carousel-control">❯</button>
			</div>
		</div>

	</section> #}

	<section>
		<h2>Contactez-nous</h2>
		<form>
			<!-- Form elements here -->
		</form>
	</section>
{% endblock %}
